    body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right,#1e3c72,#2a5298);
}

.container {
  width: 350px;
  background: white;
  padding: 25px;
  margin: 60px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background: #2a5298;
  color: white;
  border: none;
  margin-top: 15px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #1e3c72;
}

#result {
  margin-top: 15px;
  padding: 10px;
}
.success {
  background: #d4edda;
  color: #155724;
}

.error {
  background: #f8d7da;
  color: #721c24;
}
